<% layout('/layout/Boilerplate.ejs')%>
    <h1 class="text-danger">Oops Something went wrong!</h1>
    <h2 class="text-danger">Error Message:</h2>
    <p>
        <%=error.message%>
    </p>
    <h2 class="text-danger">Error Stack:</h2>
    <p>
        <%=error.stack%>
    </p>