<% layout('/layout/Boilerplate.ejs')%>
    <h1>Edit Post</h1>
    <form action="/posts/<%=post._id%>?_method=PATCH " method="POST" id="postForm" novalidate>
        <label class="form-label" for="title">Title: </label>
        <input class="form-control" type="text" name="title" id="title" value="<%= post.title %> " required>
        <label class="form-label" for="body">Body: </label>
        <textarea class="form-control" type="text" name="body" id="body" required><%= post.body %> </textarea>
        <label for="imgURL" class="form-label">Image URL:</label>
        <input type="text" class="form-control" name="image" id="image" value="<%=post.image%>">
    </form>
    <div class="d-flex">
        <button class="btn btn-success mt-2 col-1" form="postForm">Submit</button>
        <a href="/" class="btn btn-danger mt-2 col-1 offset-10">Cancel</a>
    </div>