<% layout('layout/Boilerplate.ejs')%>
    <h1>
        <%= post.title %>
    </h1>
    <p>
        <%= post.body %>
    </p>
    <a href="/posts/<%=post._id%>/edit ">Edit Post</a>
    <a href="/posts">Home</a>
    <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
        <button>Delete Post</button>
    </form>